body {
  background-color: #4E93E3;
  font-family: 'Raleway', sans-serif;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  background-color: transparent;
  color: white;
}

.navbar-default {
  background-color: #4E93E3;
  border: none;
  padding-top: 10px;
}

.navbar-default .navbar-brand {
  color: #FCFDFC;
  font-family: 'Raleway', sans-serif;
}

.navbar-brand:hover,
.navbar-brand:focus {
  background-color: transparent;
  color: #FCFDFC;
}

.navbar-default .navbar-nav li a {
  color: #FCFDFC;
  margin: 0px 20px;
  font-family: 'Raleway', sans-serif;
}

.navbar-default .navbar-nav li .active-span {
  display: block;
  width: calc(100% - 65px);
  height: 1px;
  background: #FCFCFD;
  position: absolute;
  left: 33px;
  top: 40px
}

.login-background {
  background: #4E93E3;
}

.login_box{
  background: #f7f7f7;
  border: 2px solid #303742;
  padding-left: 15px;
  margin-bottom:25px;
}

.input_title{
  color: #25375B;
  padding-left:3px;
  margin-bottom: 2px;
}

.welcome{
  font-family: "myriad-pro",sans-serif;
  font-style: normal;
  font-weight: 100;
  color:#FFFFFF;
  margin-bottom:25px;
  margin-top:50px;
}

.login_title{
  font-family: "myriad-pro",sans-serif;
  font-style: normal;
  font-weight: 100;
  color: #25375B;
}

.login-btn {
  font-weight: 700;
  height: 36px;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  cursor: default;
  border-radius:0;
  background: #25375B;
  height: 55px;
  margin-bottom:10px;
}

/*
 * Card component
 */
.login-card {
  max-width: 500px;
  background-color: #FCFCFD;
  /* just in case there no content*/
  padding: 1px 25px 30px;
  margin: 0 auto 25px;
  margin-top: 12%;
  border: 4px solid #353F4F;
  /* shadows and rounded borders */
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 0px 18px 25px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 18px 25px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 18px 25px 0px rgba(0,0,0,0.75);
}
/*
 * Form styles
 */

.reauth-email {
  display: block;
  color: #404040;
  line-height: 2;
  margin-bottom: 10px;
  font-size: 14px;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.form-signin #inputEmail,
.form-signin #inputPassword {
  direction: ltr;
  height: 44px;
  font-size: 16px;
}

.form-signin input[type=email],
.form-signin input[type=password],
.form-signin input[type=text],
.form-signin button {
  width: 100%;
  display: block;

  z-index: 1;
  position: relative;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.form-control {
  width: 80%;
  margin-left: 17px;
}

.upload-btn {
  display: block;
}

.main-card {
  max-width: 1000px;
  min-height: 650px;
  margin: 0px auto 40px auto;
  background: #fff;
  border: 4px solid #353F4F;
  /* shadows and rounded borders */
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 0px 18px 25px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 18px 25px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 18px 25px 0px rgba(0,0,0,0.75);
}

.main-card h1 {
  text-align: center;
}

.main-card table {
  max-width: 850px;
  margin: 0px auto;
}

.print-jobs-container {
  padding: 0px 40px;
}

.wizard .nav-tabs {
    position: relative;
    margin: 40px auto;
    margin-bottom: 0;
    border-bottom-color: #e0e0e0;
}

.wizard > div.wizard-inner {
    position: relative;
}

.connecting-line {
    height: 2px;
    background: #353F4F;
    position: absolute;
    width: 80%;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 50%;
    z-index: 1;
}

.wizard .nav-tabs > li.active > a, .wizard .nav-tabs > li.active > a:hover, .wizard .nav-tabs > li.active > a:focus {
    color: #555555;
    cursor: default;
    border: 0;
    border-bottom-color: transparent;
}

span.round-tab {
    width: 70px;
    height: 70px;
    line-height: 70px;
    display: inline-block;
    border-radius: 100px;
    background: #fff;
    border: 2px solid #353F4F;
    z-index: 2;
    position: absolute;
    left: 0;
    text-align: center;
    font-size: 25px;
}
span.round-tab i{
    color:#555555;
}
.wizard li.active span.round-tab {
    background: #fff;
    border: 6px solid #FF8C01;

}
.wizard li.active span.round-tab i{
    color: #FF8C01;
}

span.round-tab:hover {
    color: #333;
    border: 2px solid #333;
}

.wizard .nav-tabs > li {
    width: 25%;
}

.wizard li:after {
    content: " ";
    position: absolute;
    left: 46%;
    opacity: 0;
    margin: 0 auto;
    bottom: 0px;
    border: 5px solid transparent;
    border-bottom-color: #5bc0de;
    transition: 0.1s ease-in-out;
}

.wizard li.active:after {
    content: " ";
    position: absolute;
    left: 46%;
    opacity: 1;
    margin: 0 auto;
    bottom: 0px;
    border: 10px solid transparent;
    border-bottom-color: #FF8C01;
}

.wizard .nav-tabs > li a {
    width: 70px;
    height: 70px;
    margin: 20px auto;
    border-radius: 100%;
    padding: 0;
}

.wizard .nav-tabs > li a:hover {
    background: transparent;
}

.wizard .tab-pane {
    position: relative;
    padding-top: 25px;
}

.wizard h3 {
    margin-top: 0;
}

@media( max-width : 585px ) {
  .wizard {
      width: 90%;
      height: auto !important;
  }

  span.round-tab {
      font-size: 16px;
      width: 50px;
      height: 50px;
      line-height: 50px;
  }

  .wizard .nav-tabs > li a {
      width: 50px;
      height: 50px;
      line-height: 50px;
  }

  .wizard li.active:after {
      content: " ";
      position: absolute;
      left: 35%;
  }
}

.drop-files {
  min-height: 275px;
  padding: 60px;
  margin-bottom: 40px;
  text-align: center;
  border-width: 2px;
  border-style: dashed;
  border-radius: 5px;
  border-color: #08c;
  margin-left: 15%;
  margin-right: 15%;
}

.drop-files.dragover {
  background: #08c;
  opacity: 0.5;
}

.output {
  display: none;
  text-align: center;
}

.document-name {
  margin: 14px;
}

#printer {
  margin-top: 2.5%;
}

.print-preview {
  max-width: 450px;
  max-height: 329px;
  margin: auto;
  margin-top: 10px;
}

.print-preview-border {
  border: 3px solid #353F4F;
  min-height: 375px;
}

.buttons-panel {
  text-align: center;
}

.printer-area {
  font-size: 30px;
  padding: 0px 70px;
  font-family: 'Raleway', sans-serif;
}

.printer-card-container {
  padding: 0px 40px;
  margin: 0px 0px 20px 0px;
}

.printer-card {
  max-width: 250px;
  height: 200px;
  background-color: #3A4352;
  color: #E1DEE2;
  margin: 0px auto;
  border-radius: 25px;
}

.printer-card p {
  font-size: 20px;
  margin-top: 25px;
  text-align: center;
}

.printer-card img {
  max-width: 100px;
  margin: 0px auto;
  padding-top: 30px;
}

.printer-card-success {
  border: 7px solid green;
}

.printer-card-warning {
  border: 7px solid orange;
}

.printer-card-danger {
  border: 7px solid red;
}

.re-login {
  margin-top: 20%;
  text-align: center;
}

/*This is the CSS style for the toggle button*/
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #337ab7;
}

input:focus + .slider {
  box-shadow: 0 0 1px #337ab7;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* CSS for range slider*/
/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.range-slider {
  width: 80%;
  margin-top: 10px;
}

.range-slider__range {
  -webkit-appearance: none;
  width: calc(100% - (73px));
  height: 13px;
  border-radius: 5px;
  background: #d7dcdf;
  outline: none;
  padding: 0;
}
.range-slider__range::-webkit-slider-thumb {
  -webkit-appearance: none;
          appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #2c3e50;
  cursor: pointer;
  -webkit-transition: background .15s ease-in-out;
  transition: background .15s ease-in-out;
}
.range-slider__range::-webkit-slider-thumb:hover {
  background: #1abc9c;
}
.range-slider__range:active::-webkit-slider-thumb {
  background: #1abc9c;
}
.range-slider__range::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border: 0;
  border-radius: 50%;
  background: #2c3e50;
  cursor: pointer;
  -webkit-transition: background .15s ease-in-out;
  transition: background .15s ease-in-out;
}
.range-slider__range::-moz-range-thumb:hover {
  background: #1abc9c;
}
.range-slider__range:active::-moz-range-thumb {
  background: #1abc9c;
}

.range-slider__value {
  color: #fff;
  line-height: 20px;
  border-radius: 3px;
  background: #2c3e50;

  text-align: center;
  display: block;
  margin:5px 30%;
  padding: 5px 0px;
  width: 20%;
}
/*.range-slider__value:after {
  position: absolute;
  top: 8px;
  left: -7px;
  width: 0;
  height: 0;
  border-top: 7px solid transparent;
  border-right: 7px solid #2c3e50;
  border-bottom: 7px solid transparent;
  content: '';
}*/

::-moz-range-track {
  background: #d7dcdf;
  border: 0;
}

input::-moz-focus-inner,
input::-moz-focus-outer {
  border: 0;
}

.tab-pane .row {
  margin-left: 0px;
  margin-right: 0px;
}

/* CSS for print configuratons*/
.btn-group {
  margin-bottom: 10px;
}

.btn-group a {
  color: #FCFCFD;
  text-decoration: none;
  position: relative;
  display: inline-block;
  border: 2px solid #353F4F;
  padding: 3px 15px;
  border-radius: 20px;
  margin-right: 2px;
  z-index: 1;
}


.btn-group .button-gray {
  background-color: #CCC;
  transition: 300ms ease-in-out;
  opacity: 0.2;
  color: #353F4F;
}

.page-btn-background-one {
  position: absolute;
  background-color: #337ab7;
  width: 47px;
  height: 26px;
  border-radius: 20px;
  top: 2px;
  left: 2px;
  transition: 300ms ease-in-out;
}

.page-btn-background-two {
  position: absolute;
  background-color: #337ab7;
  width: 128px;
  height: 26px;
  border-radius: 20px;
  top: 2px;
  left: 57px;
  transition: 300ms ease-in-out;
}

.orientation-btn-background-one {
  position: absolute;
  background-color: #337ab7;
  width: 77px;
  height: 26px;
  border-radius: 20px;
  top: 2px;
  left: 2px;
  transition: 300ms ease-in-out;
}

.orientation-btn-background-two {
  position: absolute;
  background-color: #337ab7;
  width: 104px;
  height: 26px;
  border-radius: 20px;
  top: 2px;
  left: 86px;
  transition: 300ms ease-in-out;
}

.double-sided-disabled-one {
  position: absolute;
  background-color: grey;
  width: 101px;
  height: 26px;
  border-radius: 20px;
  top: 2px;
  left: 2px;
  transition: 300ms ease-in-out;
}

.flipOn-btn-background-one {
  position: absolute;
  background-color: #337ab7;
  width: 101px;
  height: 26px;
  border-radius: 20px;
  top: 2px;
  left: 2px;
  transition: 300ms ease-in-out;
}

.flipOn-btn-background-two {
  position: absolute;
  background-color: #337ab7;
  width: 104px;
  height: 26px;
  border-radius: 20px;
  top: 2px;
  left: 110px;
  transition: 300ms ease-in-out;
}

.pagesPerSheet {
  margin: 10px 0px;
}

.checkbox {
  margin-top: 6px;
}

.form-group label {
  padding-top: 4px;
}

.print-btn {
  /*color: #353F4F;*/
  /*background-color: #7C8C9A;*/
  width: 120px;
  height: 40px;
  /*border-radius: 30px;
  border: 2px solid #353F4F;*/
}

.prev-step {
  margin: 0px auto 20px auto;
  display: inline-block;
  /*color: #353F4F;*/
  /*background-color: #00bfff;*/
  width: 80px;
  height: 40px;
  /*border-radius: 5px;
  border: 2px solid #353F4F;*/
}

.next-step {
  margin: 0px auto 20px auto;
  display: inline-block;
  /*color: #353F4F;*/
  width: 80px;
  height: 40px;
  /*border-radius: 5px;
  border: 2px solid #353F4F;*/
}

.complete-printing {
  margin-left: 5%;
}

#printJobsTable {
  margin-top: 2%;
}
