.login-background {
  background: rgb(185,210,224);
}

.login_box{
  background:#f7f7f7;
  border:3px solid #F4F4F4;
  padding-left: 15px;
  margin-bottom:25px;
}

.input_title{
  color:rgba(164, 164, 164, 0.9);
  padding-left:3px;
  margin-bottom: 2px;
}

.welcome{
  font-family: "myriad-pro",sans-serif;
  font-style: normal;
  font-weight: 100;
  color:#FFFFFF;
  margin-bottom:25px;
  margin-top:50px;
}

.login_title{
  font-family: "myriad-pro",sans-serif;
  font-style: normal;
  font-weight: 100;
  color:rgba(164, 164, 164, 0.44);
}

.login-btn {
  font-weight: 700;
  height: 36px;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  cursor: default;
  border-radius:0;
  background:#43A6EB;
  height: 55px;
  margin-bottom:10px;
}

/*
 * Card component
 */
.login-card {
  max-width: 500px;
  background-color: #FFFFFF;
  /* just in case there no content*/
  padding: 1px 25px 30px;
  margin: 0 auto 25px;
  margin-top: 12%;
  /* shadows and rounded borders */
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
/*
 * Form styles
 */

.reauth-email {
  display: block;
  color: #404040;
  line-height: 2;
  margin-bottom: 10px;
  font-size: 14px;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.form-signin #inputEmail,
.form-signin #inputPassword {
  direction: ltr;
  height: 44px;
  font-size: 16px;
}

.form-signin input[type=email],
.form-signin input[type=password],
.form-signin input[type=text],
.form-signin button {
  width: 100%;
  display: block;

  z-index: 1;
  position: relative;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

#progress {
  margin-top: -3%;
  margin-bottom: 3%;
}

.wizard {
    margin: 20px auto;
    background: #fff;
}

.wizard .nav-tabs {
    position: relative;
    margin: 40px auto;
    margin-bottom: 0;
    border-bottom-color: #e0e0e0;
}

.wizard > div.wizard-inner {
    position: relative;
}

.connecting-line {
    height: 2px;
    background: #e0e0e0;
    position: absolute;
    width: 80%;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 50%;
    z-index: 1;
}

.wizard .nav-tabs > li.active > a, .wizard .nav-tabs > li.active > a:hover, .wizard .nav-tabs > li.active > a:focus {
    color: #555555;
    cursor: default;
    border: 0;
    border-bottom-color: transparent;
}

span.round-tab {
    width: 70px;
    height: 70px;
    line-height: 70px;
    display: inline-block;
    border-radius: 100px;
    background: #fff;
    border: 2px solid #e0e0e0;
    z-index: 2;
    position: absolute;
    left: 0;
    text-align: center;
    font-size: 25px;
}
span.round-tab i{
    color:#555555;
}
.wizard li.active span.round-tab {
    background: #fff;
    border: 2px solid #5bc0de;

}
.wizard li.active span.round-tab i{
    color: #5bc0de;
}

span.round-tab:hover {
    color: #333;
    border: 2px solid #333;
}

.wizard .nav-tabs > li {
    width: 25%;
}

.wizard li:after {
    content: " ";
    position: absolute;
    left: 46%;
    opacity: 0;
    margin: 0 auto;
    bottom: 0px;
    border: 5px solid transparent;
    border-bottom-color: #5bc0de;
    transition: 0.1s ease-in-out;
}

.wizard li.active:after {
    content: " ";
    position: absolute;
    left: 46%;
    opacity: 1;
    margin: 0 auto;
    bottom: 0px;
    border: 10px solid transparent;
    border-bottom-color: #5bc0de;
}

.wizard .nav-tabs > li a {
    width: 70px;
    height: 70px;
    margin: 20px auto;
    border-radius: 100%;
    padding: 0;
}

.wizard .nav-tabs > li a:hover {
    background: transparent;
}

.wizard .tab-pane {
    position: relative;
    padding-top: 50px;
}

.wizard h3 {
    margin-top: 0;
}

@media( max-width : 585px ) {

    .wizard {
        width: 90%;
        height: auto !important;
    }

    span.round-tab {
        font-size: 16px;
        width: 50px;
        height: 50px;
        line-height: 50px;
    }

    .wizard .nav-tabs > li a {
        width: 50px;
        height: 50px;
        line-height: 50px;
    }

    .wizard li.active:after {
        content: " ";
        position: absolute;
        left: 35%;
    }
}

.drop-files {
  padding: 100px 0;
  text-align: center;
  border-width: 2px;
  border-style: dashed;
  border-radius: 5px;
  border-color: #08c;
  margin-left: 15%;
  margin-right: 15%;
}

.drop-files.dragover {
  background: #08c;
  opacity: 0.5;
}

.output {
  text-align: center;
  margin: 2%;
  margin-top: -2.5%;
}

#printer {
  margin-top: 2.5%;
}

.print-panel {
  text-align: center;
}

.level-one-printer {
  margin-bottom: 2.5%;
}

.basement-printer {
  margin-top: 2.5%;
}

.printer-card {
  padding: 15px;
}

.printer-card {
  padding: 15px;
}

.printer-card-success {
  border-style: dashed;
  border-radius: 4px;
  border-color: #5cb85c;
}

.printer-card-warning {
  border-style: dashed;
  border-radius: 4px;
  border-color: #f0ad4e;
}

.printer-card-danger {
  border-style: dashed;
  border-radius: 4px;
  border-color: #d9534f;
}

.re-login {
  margin-top: 20%;
  text-align: center;
}

/*This is the CSS style for the toggle button*/
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

.slider {
  width: 100%;
}

.range-slider__range{
  -webkit-appearance: none !important;
  width: 100%;
  height: 15px;
  background-color: #d7dcef;
  border-radius: 10px;
  transition: all 0.3s ease;
}
.range-slider__range:hover {
  background-color: #b2d5aa;
}

.range-slider__range::-webkit-slider-thumb {
  -webkit-appearance: none !important;
  width: 20px;
  height: 20px;
  background-color:#337ab7;
  border-radius: 30px;
  transition: all 0.5s ease;
}
/*.range-slider__range::-webkit-slider-thumb:hover {
  background-color: #457d66;
}
.range-slider__range::-webkit-slider-thumb:active {
  box-shadow: 0px 0px 1px #3c6d59;
}*/

#rangevalue{
  text-align: center;
  font-family: "Quantico", sans-serif;
  font-size: 14px;
  display: block;
  margin: auto;
  padding: 5px 0px;
  width: 100%;
}
